:root{
  --color-white: #FFFFFF;
  --color-purple: #5928E5;
  --color-black: #000000;
  --color-pink: #FED9DA;
}

body {
  margin: 0;
  font-family: sans-serif;
  background-color: var(--color-white);
}