:root{
  --color-white: #FFFFFF;
  --color-purple: #5928E5;
  --color-black: #000000;
  --color-pink: #FED9DA;
}

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cantarell&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Cantarell', sans-serif;
  font-size: 18px;
  background-color: var(--color-white);
  position: relative;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Exo', sans-serif;
  margin: 0;
  letter-spacing: 1%;
}

.container{
  min-width: 320px;
  max-width: 480px;
  margin: auto;
  padding: 0 16px;
  min-height: inherit;
  box-sizing: border-box;
}

.btn{
  background-color: var(--color-purple);
  border: none;
  outline: none;
  padding: 12px 24px;
}

.btn:active{
  transform: scale(.95);
  transition: 300ms linear;
}

.btn a{
  font-family: "Cantarell", sans-serif;
  font-weight: 700;
}

a{
  font-family: "Cantarell", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: var(--color-purple);
}

a .btn:hover{
  text-decoration: underline;
}

.title-section{
  text-align: center;
  color: var(--color-purple);
  font-size: 1.78em ;
  line-height: 1em;
  font-weight: 700;
}

.logo{
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700;
}