.footer{
  background-color: var(--color-purple);
  color: var(--color-white);
  padding: 48px 0;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li a{
  color: var(--color-white);
}

.footer p{
  margin: 0;
}