.header{
  background-color: var(--color-pink);
  min-height: 80px;
  width: 100%;
  box-sizing: border-box;
}

.header-content{
  min-height: inherit;
  align-items: center;
  display: flex;
  flex-grow: 0;
  justify-content: space-between;
}

.header-content .logo-container{
  align-items: center;
  display: flex;
}

.header-content .logo-container img{
  margin-right: 16px;
}

.header-content .logo{
  color: var(--color-purple);
}

.header-content span{
  font-family: "Exo", sans-serif;
}

.header-content nav{
  display: none;
  background-color: var(--color-white);
  position: absolute;
  top: 0;
  right: 277px;
  bottom: 0;
  left: 0;
}

.header-content .btn a{
  color: var(--color-white);
  text-decoration: none;
}

.header-content nav ul{
  padding: 0;
  margin: 0;
}

.header-content ul li{
  padding: 0;
  list-style: none;
  margin: 0;
}